<!DOCTYPE HTML>
<html>
<head>
  <title><%= content_for(:title) %></title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <div class="banner">
    <h1><%= content_for(:title) %></h1>
  </div>
  <section>
    <p><%= content_for(:template) %></p>
  </section>
  <footer class="banner">
    <div class="content">
      <p class="left">Elixir Ecto Demo</p>
      <p class="right">Christian Di Lorenzo</p>
    </div>
  </footer>
</body>
</html>
