body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: black;
  color: white;
  margin: 0;
}

.banner {
  font-weight: 100;
  font-size: 20pt;
  background-color: #53106F;
  margin-bottom: 40px;
}

.banner h1 {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px;
}

p {
  font-weight: 300;
}

section {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
  overflow: scroll;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px !important;
}

footer .content {
  max-width: 700px;
  margin: 0 auto;
  font-size: 11pt;
  padding: 0px 20px;
}

.right {float: right; text-align: right;}
.left {float: left; text-align: left;}


/* Table */

table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  margin: 0 auto;
}

thead {
  background-color: rgba(255, 255, 255, 0.2);
}

th {
  padding: 5px;
  margin: 0px;
}

td {
  min-width: 60px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  padding: 10px 20px;
  /*text-align: center;*/
}