<% content_for(:title) do %>
  Cities
<% end %>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Temperature</th>
  </thead>
  <tbody>
    <%= lc city inlist @cities do %>
      <tr>
        <td><%= city.id %></td>
        <td><%= city.name %></td>
        <td><%= city.temp_f %> F</td>
      </tr>
    <% end %>
  </tbody>
</table>

